<div class="bg-gray-50 min-h-screen">
  <div
    class="bg-linear-to-r from-[#1AAE51] via-[#20C05B] to-[#32CE6A] py-14 px-4 sm:px-6 lg:px-8 shadow-inner"
  >
    <div class="max-w-7xl mx-auto">
      <!-- Breadcrumb -->
      <nav class="text-xs sm:text-sm text-purple-200 mb-6 flex items-center gap-2">
        <a href="#" class="hover:text-white transition-colors">Home</a>
        <span>/</span>
        <span class="text-white font-medium">Categories</span>
      </nav>

      <!-- Header Content with Icon -->
      <div class="flex items-center gap-4">
        <!-- Icon Box -->
        <div
          class="w-16 h-16 p-2 sm:w-16 sm:h-16 bg-white/15 backdrop-blur-md rounded-2xl border border-white/20 shadow-lg flex items-center justify-center flex-shrink-0 transition-transform hover:scale-105"
        >
          <svg
            data-prefix="fas"
            data-icon="layer-group"
            class="svg-inline--fa fa-layer-group text-white text-3xl"
            role="img"
            viewBox="0 0 512 512"
            aria-hidden="true"
          >
            <path
              fill="currentColor"
              d="M232.5 5.2c14.9-6.9 32.1-6.9 47 0l218.6 101c8.5 3.9 13.9 12.4 13.9 21.8s-5.4 17.9-13.9 21.8l-218.6 101c-14.9 6.9-32.1 6.9-47 0L13.9 149.8C5.4 145.8 0 137.3 0 128s5.4-17.9 13.9-21.8L232.5 5.2zM48.1 218.4l164.3 75.9c27.7 12.8 59.6 12.8 87.3 0l164.3-75.9 34.1 15.8c8.5 3.9 13.9 12.4 13.9 21.8s-5.4 17.9-13.9 21.8l-218.6 101c-14.9 6.9-32.1 6.9-47 0L13.9 277.8C5.4 273.8 0 265.3 0 256s5.4-17.9 13.9-21.8l34.1-15.8zM13.9 362.2l34.1-15.8 164.3 75.9c27.7 12.8 59.6 12.8 87.3 0l164.3-75.9 34.1 15.8c8.5 3.9 13.9 12.4 13.9 21.8s-5.4 17.9-13.9 21.8l-218.6 101c-14.9 6.9-32.1 6.9-47 0L13.9 405.8C5.4 401.8 0 393.3 0 384s5.4-17.9 13.9-21.8z"
            ></path>
          </svg>
        </div>

        <!-- Title & Subtitle -->
        <div>
          <h1 class="text-3xl sm:text-4xl font-extrabold text-white tracking-wide">
            All Categorys
          </h1>
          <p class="text-sm sm:text-lg text-purple-100 mt-1 font-light">
            Shop from your favorite categories
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="max-w-7xl mx-auto py-12">
    <!-- categorys Grid -->
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-6">
      <!-- category 1: Canon -->
      @for (category of categories(); track category._id) {
        <a
          [routerLink]="['/subcategories', category._id]"
          class="group cursor-pointer bg-white p-6 h-65 rounded-2xl border border-gray-100 shadow-sm hover:shadow-lg hover:border-emerald-100 transition-all duration-300 flex flex-col items-center justify-center transform hover:scale-[101%]"
        >
          <div class="w-full h-[80%] rounded overflow-hidden">
            <img
              [src]="category.image"
              [alt]="category.name"
              class="rounded w-full h-full object-cover transition-all duration-300 group-hover:scale-110"
            />
          </div>
          <span
            class="font-medium my-2 text-xl text-gray-700 group-hover:text-emerald-600 transition-colors duration-300"
            >{{ category.name }}</span
          >
          <p
            class="text-sm group-hover:visible transition-all duration-300 invisible font-medium text-emerald-600"
          >
            View Subcategories
          </p>
        </a>
      }

      <!-- category 10: HUAWEI -->
    </div>
  </div>
</div>
